%div#content_aboutus
  %h1
    Angel Management Group is the largest nightlife entertainment company in Las Vegas, owning, operating and marketing over 20 venues.
  %div.container
    %p
      AMG’s senior management team accounts for over 100 years’ combined experience in the United States, Europe, and Asia. The executives’ diverse range of leadership skills and knowledge has allowed the company to develop a superior team of industry professionals in Las Vegas.
    %p
      With an unparalleled knowledge of the marketplace, the AMG team is able to deliver state-of-the-art, innovative venues and events that exceed customer expectations and maximize brand value. The company’s key to growth has been an ability to design award-winning venues, create new and original concepts to adapt to market segments, and consistently run highly creative and successful marketing and promotional campaigns.