%div#content_aboutus
  %h1
    Angel Management Group is one of the leading nightlife, lifestyle marketing and event management companies in the US.
  %div.container
    %p
      Angel Management Group is a Las Vegas based nightlife and entertainment company which owns, operates or consults for venues including Pure Nightclub, Wet Republic Ultra Pool, Vanity Nightclub, Rehab, Hard Rock Beach Club, SkyBar, Aura Nightclub, LAX Nightclub, Moorea Beach Club, Venus Pool and Social House. AMG's properties are located inside resorts including MGM Grand, Caesar's Palace, Mandalay Bay, Luxor, Atlantis, Hard Rock Hotel, Excalibur, New York New York and City Center.
      
    %p
      AMG is one of the US’s leading nightlife, lifestyle marketing and event management companies. AMG’s skillset includes venue management, lifestyle marketing, event production, event marketing & promotions, web technology, creative services and talent negotiation. 
    %p
      AMG’s flagship event brands Godskitchen and Global Gathering are recognized worldwide as leaders in the electronic music scene, with a 2008 calendar boasting large scale events in over 20 countries, and AMG’s venues include the new $15mm Home St. Louis. 
    %p
      AMG’s interactive division owns and operates several nightlife websites, both consumer and B2B focused, including flagship brand NapkinNights.com - one of the most visited nightlife websites in the US. 
    %p
      AMG has also brought its expertise and brand around the world, producing events in Mexico, South America, Russia, Europe, Canada, Australia, Asia, and South Africa. Several additional countries are targeted for expansion in 2008.