%div#content_aboutus
  %h1
    Angel Management Group is one of the leading nightlife, lifestyle marketing and event management companies in the US.
  %div.container
    %p
      Angel Management Group is a Las Vegas based nightlife and entertainment company which owns, operates or consults for venues including Pure Nightclub, Wet Republic Ultra Pool, Vanity Nightclub, Rehab, Hard Rock Beach Club, SkyBar, Aura Nightclub, LAX Nightclub, Moorea Beach Club, Venus Pool and Social House. AMG's properties are located inside resorts including MGM Grand, Caesar's Palace, Mandalay Bay, Luxor, Atlantis, Hard Rock Hotel, Excalibur, New York New York and City Center.