%div#content
  %div#accordion
    %h2
      %a{:href => "#section1"}
        Wet Republic
    %div.container
    
    %h2
      %a{:href => "#section1"}
        Vanity
    %div.container
    
    %h2
      %a{:href => "#section1"}
        Rok Vegas
    %div.container
    
    %h2
      %a{:href => "#section1"}
        Moorea
    %div.container
    
    %h2
      %a{:href => "#section1"}
        Mix
    %div.container
    
    %h2
      %a{:href => "#section1"}
        Eye Candy
    %div.container