%div#content_clientvenues
  %div#accordion
    %h2
      %a{:href => "#section1"}
        Wet Republic
    %div.container
      %img{ :src => "/images/page_clientvenues/wetrepublic.png", :width => "450", :height => "140" }
      %p
        Since opening in 2007, Wet Republic has rocketed to the forefront of the Las Vegas pool scene under the stewardship of AMG. With over 6000 guests weekly, and an unmatched roster of celebrity hosts and internationally renowned guest DJ's, Wet Republic offers a pool party experience like no other. From the saltwater pools to the elevated Cabanas and elite private Bungalows, every level of Wet Republic is focused on creating an upscale, energetic pool party experience.
    
    %h2
      %a{:href => "#section1"}
        Vanity
    %div.container
      %img{ :src => "/images/page_clientvenues/vanity.png", :width => "450", :height => "140" }
      %p
        With its next-level bathrooms and eye-popping LED chandelier centerpiece, Vanity truly delivers on its promise of a stunning nightlife experience. With indoor and outdoor bar areas, premium VIP seating options and gorgeous décor and furnishings, Vanity is truly the jewel in the Hard Rock nightlife crown, and the home of the legendary SIN Sunday industry party.
    
    %h2
      %a{:href => "#section1"}
        Rok Vegas
    %div.container
      %img{ :src => "/images/page_clientvenues/rokvegas.png", :width => "450", :height => "140" }
      %p
        The Las Vegas outpost of the legendary Miami venue, Rok Vegas is a relaxed nightclub experience for those who want to skip the red rope attitude without compromising on top notch music, amazing visuals and a welcoming atmosphere. With an indoor nightclub featuring the city's first 360° video screen and premium VIP seating, and an outdoor bar overlooking the strip, there's something for everyone at Rok.
        
    
    %h2
      %a{:href => "#section1"}
        Moorea Beach Club
    %div.container
      %img{ :src => "/images/page_clientvenues/moorea.png", :width => "450", :height => "140" }
      %p
        Moorea Beach Club provides guests with a private, adult, upscale and sophisticated day-club experience. Enjoy fantastic views of the beach, cushioned chaise lounges, high-energy music, poolside massage services and the best, personalized attendants in Las Vegas. Moorea features day beds, opium beds and pavilions, along with regular celebrity guests to complete the upscale daylife experience.
    
    %h2
      %a{:href => "#section1"}
        miX Lounge
    %div.container
      %img{ :src => "/images/page_clientvenues/mix.png", :width => "450", :height => "140" }
      %p
        High atop THEhotel, this fashionable hotspot is one of the most stylishly hip lounges around. Offering stellar cocktail concoctions, an innovative bar menu and a seductive blend of music spun by savvy DJs, every night turns into an event at the Mix Lounge. Reserve a table indoors, or step out on the 64th-floor balcony and enjoy breathtaking views of the famed Las Vegas Strip.
    
    %h2
      %a{:href => "#section1"}
        Eye Candy Sound Lounge
    %div.container
      %img{ :src => "/images/page_clientvenues/eyecandy.png", :width => "450", :height => "140" }
      %p
        Located in the center of Mandalay Bay’s casino floor, eyecandy sound lounge & bar features unrivaled technology that redefines the Las Vegas nightlife experience. Featuring high-tech twists on the classic cocktail lounge, eyecandy combines interactive touch tables, revolutionary sound stations and a dance floor with an ever-changing landscape. A contemporary twist on the typical Las Vegas lounge, the eyecandy bar features an inviting atmosphere, chic design and plush seating. For the first time in Las Vegas, a fiber-optic channel runs through the bar top combining lighting and movement to form a shimmering effect. With cocktails created by world-renowned Master Mixologist Tony Abou-Ganim, this setting offers the perfect getaway, just steps from the casino floor.