%div#content_contact
  %h2
    Vegas Office
  %div.container
    5555 Badura Avenue - #120
    %br
    Las Vegas, NV  89118
    %br
    T: +1 702 212 8804 
    %br
    F: +1 702 853 4385
    
  %h2
    General Contacts
  %div.container
    For general enquiries, please contact
    %a{:href => "mailto:info@angelmg.com?subject=Online%20General%20Enquiry"}
      info@angelmg.com
    %br 
    For job opportunities, contact
    %a{:href => "mailto:jobs@angelmg.com?subject=Online%20Emplaoyment%20Enquiry"}
      jobs@angelmg.com 
    %br
    For private events at our venues, please email
    %a{:href => "mailto:events@angelmg.com?subject=Online%20Private%20Event%20Enquiry"}
      events@angelmg.com