%div#content_contact
  %h2
    Vegas Office
  %div.container
    2904 W. Horizon Ridge Pkwy
    %br
    Henderson, NV  89052
    %br
    T: +1 702 425 9399 
    %br
    F: +1 702 425 9390

  %h2
    Miami Office
  %div.container
    420 Lincoln Road | Suite 440
    %br
    Miami Beach, FL  33139
    
  %h2
    General Contacts
  %div.container
    For general enquiries, please contact
    %a{:href => "mailto:info@angelmg.com?subject=Online%20General%20Enquiry"}
      info@angelmg.com
    %br 
    For job opportunities, contact
    %a{:href => "mailto:jobs@angelmg.com?subject=Online%20Emplaoyment%20Enquiry"}
      jobs@angelmg.com 
    %br
    For private events at our venues, please email
    %a{:href => "mailto:events@angelmg.com?subject=Online%20Private%20Event%20Enquiry"}
      events@angelmg.com