%div#content_aboutus
  %div.container_logo

    -# This is commented out because the spacing of the venue image grid comes from whitespace
    -# in the image files, so the grid is too delicate to drive dynamically because changing
    -# the order of the images breaks the grid spacing.
    - if false
      - venue_count = 0
      - for venue in Venue.all
        - if (venue_count += 1) == 4
          %a{:href => "/operated_venues"}
            %img{:src => "/images/home_page_icons/rehab.png"}
        - next if venue.icon_file_name.blank?
        %a{:href => venue_page(venue)}
          = image_tag venue.icon.url

    %a{:href => "/owned_venues"}
      %img{:src => "/images/client_logos/logo_slice_01.png"}
    %a{:href => "/owned_venues"}
      %img{:src => "/images/client_logos/logo_slice_02.png"}
    %a{:href => "/owned_venues"}
      %img{:src => "/images/client_logos/logo_slice_03.png"}
    %a{:href => "/owned_venues"}
      %img{:src => "/images/client_logos/logo_slice_04.png"}
    %a{:href => "/owned_venues"}
      %img{:src => "/images/client_logos/logo_slice_05.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_06.png"}
    %a{:href => "/operated_venues"}
      %img{:src => "/images/client_logos/logo_slice_07.png"}
    %a{:href => "/owned_venues"}
      %img{:src => "/images/client_logos/logo_slice_08.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_09.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_10.png"}
    %a{:href => "/owned_venues"}
      %img{:src => "/images/client_logos/logo_slice_11.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_12.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_13.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_14.png"}
    %a{:href => "/owned_venues"}
      %img{:src => "/images/client_logos/logo_slice_15.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_16.png"}
    %a{:href => "/operated_venues"}
      %img{:src => "/images/client_logos/logo_slice_17.png"}
    %a{:href => "/operated_venues"}
      %img{:src => "/images/client_logos/logo_slice_18.png"}