%div#content
  %div.container_logo
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_01.png"}
    %a{:href => "/operated_venues"}
      %img{:src => "/images/client_logos/logo_slice_02.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_03.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_04.png"}
    %a{:href => "/owned_venues"}
      %img{:src => "/images/client_logos/logo_slice_05.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_06.png"}
    %a{:href => "/operated_venues"}
      %img{:src => "/images/client_logos/logo_slice_07.png"}
    %a{:href => "/owned_venues"}
      %img{:src => "/images/client_logos/logo_slice_08.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_09.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_10.png"}
    %a{:href => "/owned_venues"}
      %img{:src => "/images/client_logos/logo_slice_11.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_12.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_13.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_14.png"}
    %a{:href => "/owned_venues"}
      %img{:src => "/images/client_logos/logo_slice_15.png"}
    %a{:href => "/client_venues"}
      %img{:src => "/images/client_logos/logo_slice_16.png"}
    %a{:href => "/operated_venues"}
      %img{:src => "/images/client_logos/logo_slice_17.png"}
    %a{:href => "/operated_venues"}
      %img{:src => "/images/client_logos/logo_slice_18.png"}
    %a{:href => "/operated_venues"}
      %img{:src => "/images/client_logos/logo_slice_19.png"}
    %a{:href => "/operated_venues"}
      %img{:src => "/images/client_logos/logo_slice_20.png"}
    %a{:href => "/owned_venues"}
      %img{:src => "/images/client_logos/logo_slice_21.png"}
    %a{:href => "/owned_venues"}
      %img{:src => "/images/client_logos/logo_slice_22.png"}
