%div#content_aboutus
  %div.container_logo
    - venue_count = 0
    - for venue in Venue.all
      - if (venue_count += 1) == 4
        %a{:href => "/operated_venues"}
          %img{:src => "/images/home_page_icons/rehab.png"}
      - next if venue.icon_file_name.blank?
      %a{:href => venue_page(venue)}
        = image_tag venue.icon.url