%div#content_operatedvenues
  %div#accordion
    %h2
      %a{:href => "#section1"}
        Hard Rock Beach Club
    %div.container
      %img{ :src => "/images/page_operatedvenues/hrbc.png", :width => "450", :height => "140" }
      %p
        The home of the world famous Rehab pool party, Hard Rock Beach Club offers much more than just the most legendary Sunday party in the world. The lush landscapes, beautiful bodies, signature cabanas and an abundance of water make up the beautiful pools at Hard Rock. Truly an oasis in the desert, the Beach Club was selected by the Travel Channel as one of the top 10 pools in the world.
        
    %h2
      %a{:href => "#section1"}
        Skybar
    %div.container
      %img{ :src => "/images/page_operatedvenues/skybar.png", :width => "450", :height => "140" }
      %p
        Furthering the SKYBAR legacy that is a staple on the Sunset Strip, the all-new SKYBAR at Hard Rock elevates the Las Vegas pool scene by offering guests a new level of social relaxation.
        
    %h2
      %a{:href => "#section1"}
        Venus Pool Club
    %div.container
      %img{ :src => "/images/page_operatedvenues/venus.png", :width => "450", :height => "140" }
      %p
        Venus Pool Club offers legendary indulgence for sun worshippers 21 and up. Featuring impeccable service in a hip poolside paradise, it's a unique alternative to the chaos of traditional Vegas pool parties. Lush and elegant, Venus features posh cabanas, oversized chaise lounges, an air-conditioned bar and a light and delicious food menu. Top it off with European style sunbathing and poolside body massages, and Venues truly delivers on a one-of-a-kind experience.
    
    %h2
      %a{:href => "#section1"}
        Aura Nightclub
    %div.container
      %img{ :src => "/images/page_operatedvenues/aura.png", :width => "450", :height => "140" }
      %p
        Discover a new world of style and luxury. Aura Nightclub at Atlantis, Paradise Island has transformed nightlife in the Bahamas with exceptional service, internationally renowned DJ's, and impeccable design. With 9,000 square feet of stylish space, Aura's sunken dance floor is surrounded by lush VIp seating, while the raised DJ booth sets the pulse for the night. For club goers searching for an over-the-top vacation experience, Aura has implemented European-style bottle service, leaving the illustrious staff to tend to every pressing need.