%div#content
  %div#accordion
    %h2
      %a{:href => "#section1"}
        Hard Rock Beach Club
    %div.container
    
    %h2
      %a{:href => "#section1"}
        Venus Pool Club
    %div.container
    
    %h2
      %a{:href => "#section1"}
        Aura
    %div.container