%div#content
  %div#accordion
    %h2
      %a{:href => "#section1"}
        Hard Rock Beach Club
    %div.container
      %img{ :src => "/images/page_operatedvenues/hrbc.png", :width => "450", :height => "140" }
      %p
        Donec non neque condimentum eros dapibus suscipit. In lorem ligula, porttitor non interdum ac, sagittis at arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis bibendum pharetra velit a laoreet. Phasellus luctus mi nec tellus faucibus nec suscipit leo cursus. Maecenas venenatis commodo tincidunt. Etiam odio metus, pharetra in malesuada accumsan, auctor et odio. Suspendisse turpis odio, adipiscing vitae rutrum sed, cursus quis mauris. Vestibulum at justo est. Aliquam eget metus eget sem consectetur porta at vehicula arcu. Quisque volutpat orci vitae nibh aliquet faucibus. Phasellus a turpis orci, interdum posuere mauris. Nullam volutpat mauris nec velit interdum luctus. Nulla et nibh felis. Integer lobortis risus et urna porttitor placerat. Proin varius, massa a facilisis egestas, sem felis porttitor dui, vel tincidunt dolor eros eget nibh.
        
    %h2
      %a{:href => "#section1"}
        Skybar
    %div.container
      %img{ :src => "/images/page_operatedvenues/skybar.png", :width => "450", :height => "140" }
      %p
        Donec non neque condimentum eros dapibus suscipit. In lorem ligula, porttitor non interdum ac, sagittis at arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis bibendum pharetra velit a laoreet. Phasellus luctus mi nec tellus faucibus nec suscipit leo cursus. Maecenas venenatis commodo tincidunt. Etiam odio metus, pharetra in malesuada accumsan, auctor et odio. Suspendisse turpis odio, adipiscing vitae rutrum sed, cursus quis mauris. Vestibulum at justo est. Aliquam eget metus eget sem consectetur porta at vehicula arcu. Quisque volutpat orci vitae nibh aliquet faucibus. Phasellus a turpis orci, interdum posuere mauris. Nullam volutpat mauris nec velit interdum luctus. Nulla et nibh felis. Integer lobortis risus et urna porttitor placerat. Proin varius, massa a facilisis egestas, sem felis porttitor dui, vel tincidunt dolor eros eget nibh.
        
    %h2
      %a{:href => "#section1"}
        Rehab
    %div.container
      %img{ :src => "/images/page_operatedvenues/rehab.png", :width => "450", :height => "140" }
      %p
        Donec non neque condimentum eros dapibus suscipit. In lorem ligula, porttitor non interdum ac, sagittis at arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis bibendum pharetra velit a laoreet. Phasellus luctus mi nec tellus faucibus nec suscipit leo cursus. Maecenas venenatis commodo tincidunt. Etiam odio metus, pharetra in malesuada accumsan, auctor et odio. Suspendisse turpis odio, adipiscing vitae rutrum sed, cursus quis mauris. Vestibulum at justo est. Aliquam eget metus eget sem consectetur porta at vehicula arcu. Quisque volutpat orci vitae nibh aliquet faucibus. Phasellus a turpis orci, interdum posuere mauris. Nullam volutpat mauris nec velit interdum luctus. Nulla et nibh felis. Integer lobortis risus et urna porttitor placerat. Proin varius, massa a facilisis egestas, sem felis porttitor dui, vel tincidunt dolor eros eget nibh.
    
    %h2
      %a{:href => "#section1"}
        Venus Pool Club
    %div.container
      %img{ :src => "/images/page_operatedvenues/venus.png", :width => "450", :height => "140" }
      %p
        Donec non neque condimentum eros dapibus suscipit. In lorem ligula, porttitor non interdum ac, sagittis at arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis bibendum pharetra velit a laoreet. Phasellus luctus mi nec tellus faucibus nec suscipit leo cursus. Maecenas venenatis commodo tincidunt. Etiam odio metus, pharetra in malesuada accumsan, auctor et odio. Suspendisse turpis odio, adipiscing vitae rutrum sed, cursus quis mauris. Vestibulum at justo est. Aliquam eget metus eget sem consectetur porta at vehicula arcu. Quisque volutpat orci vitae nibh aliquet faucibus. Phasellus a turpis orci, interdum posuere mauris. Nullam volutpat mauris nec velit interdum luctus. Nulla et nibh felis. Integer lobortis risus et urna porttitor placerat. Proin varius, massa a facilisis egestas, sem felis porttitor dui, vel tincidunt dolor eros eget nibh.
    
    %h2
      %a{:href => "#section1"}
        Aura Nightclub
    %div.container
      %img{ :src => "/images/page_operatedvenues/aura.png", :width => "450", :height => "140" }
      %p
        Donec non neque condimentum eros dapibus suscipit. In lorem ligula, porttitor non interdum ac, sagittis at arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis bibendum pharetra velit a laoreet. Phasellus luctus mi nec tellus faucibus nec suscipit leo cursus. Maecenas venenatis commodo tincidunt. Etiam odio metus, pharetra in malesuada accumsan, auctor et odio. Suspendisse turpis odio, adipiscing vitae rutrum sed, cursus quis mauris. Vestibulum at justo est. Aliquam eget metus eget sem consectetur porta at vehicula arcu. Quisque volutpat orci vitae nibh aliquet faucibus. Phasellus a turpis orci, interdum posuere mauris. Nullam volutpat mauris nec velit interdum luctus. Nulla et nibh felis. Integer lobortis risus et urna porttitor placerat. Proin varius, massa a facilisis egestas, sem felis porttitor dui, vel tincidunt dolor eros eget nibh.