%div#content_ownedvenues
  %div#accordion
    %h2
      %a{:href => "#section1"}
        Pure
    %div.container
      %img{ :src => "/images/page_ownedvenues/pure.png"}
      %p
        One of the world's best known nightlife brands and voted the country's #1 club by E! Entertainment Television, PURE features 36,000 square feet of dance floors, lavish seating areas and world-class décor. The two-storey nightclub combines the allure of the red carpet with the pulse-pounding sounds of the hottest DJ's to create the most dynamic nightlife destination in the world's most dynamic city.
    
    %h2
      %a{:href => "#section1"}
        LAX
    %div.container
      %img{ :src => "/images/page_ownedvenues/lax.png"}
      %p
        Young and sophisticated. Stylish and energetic. LAX attracts only the most discriminating club-goers, A-list celebs, and the social jet set. LAX is outfitted in rich, red leathers and adorned with oversized mirrors and shimmering chandeliers, creating a modern and luxurious feel throughout the venue.
    
    %h2
      %a{:href => "#section1"}
        XOXO Supperclub
    %div.container
      %img{ :src => "/images/page_ownedvenues/xoxo.png", :width => "450", :height => "140" }
      %p
        Opening on New Years Eve 2010/11, XOXO is Las Vegas' first Supperclub, a high energy indoor / outdoor restaurant and lounge offering a premier dining experience which evolves into a nightlife atmosphere after the plates are cleared.
    
    %h2
      %a{:href => "#section1"}
        Social House
    %div.container
      %img{ :src => "/images/page_ownedvenues/socialhouse.png"}
      %p
        Social House is an innovative Sushi restaurant with delectable cuisine and unrivaled décor. Its bold culinary vision was created by Executive Chef Joe Elevado, who trained under the acclaimed Nobuyuki "Nobu" Matsuhisa, as well as the "Japanese Iron Chef," Masaharu Morimoto. The Social House menu is a masterpiece of Pan-Asian cuisine and Sushi prepared with the freshest ingredients, all deeply influenced by Chef Elevado's extensive travels throughout Japan and Southeast Asia. Complementing this thoughtful lineup is a dining space that provides a warmth and intimacy suitable to creating an unforgettable evening.
    
    %h2
      %a{:href => "#section1"}
        Coyote Ugly
    %div.container
      %img{ :src => "/images/page_ownedvenues/coyoteugly.png"}
      %p
        Misbehaviour is encouraged at Coyote Ugly, the Las Vegas Strip's wildest watering hole. From dancing on the bar to hosing down the crowd, the beautiful and wild "Coyotes" are there to remind you that it's a drinking bar and women have all the control. The way it should be.
    
    %h2
      %a{:href => "#section1"}
        Dick's Last Resort
    %div.container
      %img{ :src => "/images/page_ownedvenues/dicks.png"}
      %p
        Whether you're looking to rock out to live music, dig into buckets of delicious finger foods or rally up your buddies to watch the big game, Dick's Last Resort is the spot on The Strip for all ages to show off their silly sides. With no limit to the level of fun or spontaneity and no better word to describe it than outrageous, Dick's Last Resort is fun for all and all in fun for those who dare to enter. The only place where it feels as though you're getting away with breaking the rules - come get your kicks at Dick's, "The Shame 'O The Strip."