%div#content_contact
  %h2
    Press

  %div.press_item
    %table.press_item_table
      %tr
        %td{:valign => "top"}
          %div.thumbnail_box
            %img{:src => "/images/page_press/tn_diddy.png", :width => "100px", :height => "61px" }
        %td{:valign => "top"}
          %dl
            %dt
              Sean "Diddy" Combs Hosts Wet Republic
            %dd
              Sean "Diddy" Combs jumped on the mic as he hosted Wet Republic Saturdays May 16th surprising everyone with a performance to get the party jumping.
        %td{:valign => "top"}
          %a{:href => "/press/diddy_wr.pdf"}
            %img.pdf{:src => "/images/page_press/pdf_icon.png", :width => "72px", :height => "63px" }
            
  %div.press_item
    %table.press_item_table
      %tr
        %td{:valign => "top"}
          %div.thumbnail_box
            %img{:src => "/images/page_press/tn_kim.png", :width => "100px", :height => "61px" }
        %td{:valign => "top"}
          %dl
            %dt
              Kourtney Kardashian's Birthday with sisters Kim & Khloe
            %dd
              It's fine to get wet at a pool party, but not before you go swimming. Just ask Kourtney Kardashian, who celebrated her 31st birthday with sisters Kim & Khloe at Wet Republic on Saturday.
        %td{:valign => "top"}
          %a{:href => "/press/kardashian_wr.pdf"}
            %img.pdf{:src => "/images/page_press/pdf_icon.png", :width => "72px", :height => "63px" }
            
  %div.press_item
    %table.press_item_table
      %tr
        %td{:valign => "top"}
          %div.thumbnail_box
            %img{:src => "/images/page_press/tn_moffitt.png", :width => "100px", :height => "61px" }
        %td{:valign => "top"}
          %dl
            %dt
              Neil Moffitt Top 30 Influential People
            %dd
              Neil Moffitt declared among the top 30 most influential people in Club World.
        %td{:valign => "top"}
          %a{:href => "/press/top30_neilmoffitt.pdf"}
            %img.pdf{:src => "/images/page_press/pdf_icon.png", :width => "72px", :height => "63px" }