%div#content
  %h2
    Press

  %div.press_item
    %table.press_item_table
      %tr
        %td{:valign => "top"}
          %div.thumbnail_box
            %img{:src => "/images/_temp/press_tn.png", :width => "100px", :height => "61px" }
        %td{:valign => "top"}
          %dl
            %dt
              AMG Buys Pure Management
            %dd
              AMG's team of VIP Hosts and VIP Marketing professionals have been hand picked from the finest companies in Las Vegas.
        %td{:valign => "top"}
          %a{:href => "#"}
            %img.pdf{:src => "/images/page_press/pdf_icon.png", :width => "72px", :height => "63px" }
            
  %div.press_item
    %table.press_item_table
      %tr
        %td{:valign => "top"}
          %div.thumbnail_box
            %img{:src => "/images/_temp/press_tn.png", :width => "100px", :height => "61px" }
        %td{:valign => "top"}
          %dl
            %dt
              AMG Buys Pure Management
            %dd
              AMG's team of VIP Hosts and VIP Marketing professionals have been hand picked from the finest companies in Las Vegas.
        %td{:valign => "top"}
          %a{:href => "#"}
            %img.pdf{:src => "/images/page_press/pdf_icon.png", :width => "72px", :height => "63px" }